.box_dropdow div{
	display: inline-block;
}

txt_footer{
	text-align: center;
}

.table-width{
	width: 600px;	
}


table.table-hover,
table.table-striped,
table.table-width{
	
}

table {
		table.hover
}


